@CHARSET "ISO-8859-1";

.LogoTileImg {
	text-align: center;
	vertical-align: middle;
	margin-top: 2rem;
	width: 100%;
}
/*.MastrottoTileColor{
	text-align: left;
	vertical-align: middle;
	font-size: 140%;
	margin: 0.5rem;
	margin-top: -1em;
	margin-bottom: -1em;
}*/
/*
.LogoTextColor{
	margin: 0.5rem;
	font-size: 120%;
	color: lightgreen;
}
*/

.LogoTileText{
	vertical-align: middle;
    text-align: center;
	margin: 2rem;
	font-size: 2rem;
}

/*
.LogoTileSubText{
	text-align: justify;
	vertical-align: middle;
	color: grey;
	font-size: 0.7rem;
	margin: 0.5rem;
}
*/

/*
.LogoTileBottomImg{
	position:absolute;
	bottom: 0;
	width: 100%;
	color: grey;
}
*/
