.tileCustom .sapMStdTileInfo {
  white-space: normal;
  margin-top: 1rem;
}

.tileCustom .sapMStdTileTitle {
  font-size: 1.25rem;
}

.pageClass {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
}

.formClass {
  background: none;
}

/*
#__box0 {
  height: 8em;
}
*/

#orderCreateId--simpleform0--Form--Grid {
  margin-top: -1em;
  margin-bottom: -1.5em;
}

#orderCreateId--hboxcustom0 {
  margin-bottom: -1.5em;
}

#__container2---Panel {
  margin-bottom: -0.5em;
}

#orderCreateId--simpleform1--Form--title
{
  margin-top: -0.8em;
  border:0;
}


#orderCreateId--hboxcustom1
{
    height: 80%;
}

#orderCreateId--simpleform0--Form--Grid {
  background-color: #DDEDF1;
}

#orderCreateId--simpleform2--Form--title {
  height: 0px;
/*
  border-left-style: inset;
  border-top-style: inset;
  border-right-style: inset;
  border-bottom-style: inset;
  border-top-style: inset;
*/
  border: 0px;


}

#orderCreateId--simpleform1--Form--Grid {
  padding-top: 0.1em;

  border-top-style: inset;
  border-left-style: inset;
  border-right-style: outset;
/*  border-bottom-style: inset;*/
  border-width: 0.3em;
  margin-left: 0.9em;
  margin-right: 0.9em;

}


#orderCreateId--simpleform2--Form--Grid {
  padding-top: 0.1em;
  border-bottom-style: outset;
  border-top-style: outset;
  border-left-style: inset;
  border-right-style: outset;
  border-width: 0.3em;
  margin-left: 0.9em;
  margin-right: 0.9em;

}


/*
#__page0-cont
{
    border-style:outset;
        padding: 1rem 0.75rem;
}
*/



.customIconTabBar {
  margin-left: 5em;
  margin-right: 5em;
  width: 80%;
}

.customObjectHeader {
  width: 100%;
  margin: 0px;
  padding: 2em;
  padding-top: 2em;
  text-align: center;
  background-color: #f4f0ff;
  border-bottom-style: groove;
  border-color: #0089FF;
}

#splitApp-Master {
  border-right-style: solid;
  border-right-color: #0089FF;
}

#loginFlexBoxId
{
	height:15em;
}
